<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.innercalc.agora"
    android:versionCode="9"
    android:versionName="1.9" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/rss"
        android:label="@string/app_name" >
        <receiver
            android:name=".MDWidget"
            android:label="@string/widget_name_md" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.innercalc.agora.CHANGE_TEXT" />
                <action android:name="com.innercalc.agora.START_WIDGET" />
                <action android:name="com.innercalc.agora.UPDATE_RSS" />
                <action android:name="com.innercalc.agora.CHANGE_PAGE" />
                <action android:name="com.innercalc.agora.OPEN_LINK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/md_provider" />
        </receiver>
        <receiver
            android:name=".XLWidget"
            android:label="@string/widget_name_xl" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.innercalc.agora.CHANGE_TEXT" />
                <action android:name="com.innercalc.agora.START_WIDGET" />
                <action android:name="com.innercalc.agora.UPDATE_RSS" />
                <action android:name="com.innercalc.agora.CHANGE_PAGE" />
                <action android:name="com.innercalc.agora.OPEN_LINK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/xl_provider" />
        </receiver>

        <activity
            android:name="com.innercalc.agora.Configure"
            android:label="@string/app_name"
            android:launchMode="standard" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service
            android:name=".ViewService"
            android:permission="android.permission.BIND_REMOTEVIEWS" >
        </service>
    </application>

</manifest>